@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

#timeonpage-view {
    background-color: #4cb385;
}

h1 {
    font-family: 'Permanent Marker', cursive;
    color: #904BB4;
    font-size: 3rem;
}

h4 {
    border-bottom: 1px solid black;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
}

.language {
    font-family: 'Permanent Marker', cursive;
    color: #904BB4;
    font-size: 2rem;
}
