@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

#resources-view {
    background-color: rgb(236, 232, 232);
    /* background-color: white; */
    /* background-image:
        linear-gradient(
            to right, 
            #904BB4, 
            white 50%
        );     */
}

#resources-view h1 {
    color: #904BB4;
    font-size: 4rem;
}

#resources-view .arrow {
    color: black !important;
}

#resources-view .arrow:hover {
    color: #904BB4 !important;
}

.resource-col {
    background-color: white;
    box-shadow: 10px 10px 5px grey;
}

.top {
    background-color: white;
}


