@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

#intro {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
}

.intro-col {
    color: black;
    font-family:  'Poppins', sans-serif;
    font-size: 1.5rem;
    border-style: solid;
    border-radius: 10px;
    border-width: 2px;
    padding: 1em;
    margin: 2em;
}

.styled {
    font-family: 'Permanent Marker', cursive;
    color: #904BB4;
    font-size: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.disclaimer {
    background-color: #4cb385;
}

.disclaimer-title {
    font-family: 'Permanent Marker', cursive;
    font-size: 2rem;
}

.disclaimer-text {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
}