
#resource-card {
    padding: 2rem;
}

.resource-title {
    color: black;
    font-size: 2.7rem;
    text-align: center;
    border-bottom: 1px solid black;
    padding-bottom: 1.7rem;
    padding-top: 1.7rem;
    margin-bottom: 1.3rem;
}

#resource-card a {
    color: #904BB4;
    font-weight: 600;
}

.fit-image {
    width: 100%;
    object-fit: cover;
    height: 13em;
}

